node_modules/
dist/
.env
**/.env
android/
ios/
*.apk
*.ipa
**/*.tsbuildinfo
apps/mobile/public/
apps/mobile/scripts/
**/.env
.env.example.local
.env.test.local
.env.production.local
*.local
.DS_Store
*.log
.cache/
coverage/
storybook-static/
apps/*/dist/
apps/*/src/*.d.ts
apps/*/src/*.d.ts.map
apps/*/src/*.js.map

